.mainContainer {
  padding: 20px;
}
Button {
  position: relative;
  display: block;
  margin-top: 10px;
}
label{
  display: block;
  font-weight: 100;
}
.dataTable {
  border-bottom-color: black;
  align-content: center;
}
