.mainContainer {
  padding: 10px;
}

.closeButton {
  position: absolute;
  right: 5px;
  display: block;
  padding-top: 10px;
}

label{
  display: block;
  font-weight: 100;
}

.title {
  font-size: 20px;
  text-decoration: underline;
}
