<!--Actualización de Plan-->
<div class='mainContainer'>
  <div class="modal-header">
    <h4>Actualización de Contraseña del Usuario</h4>
    <button type="button" class="close" data-dismiss="activeModal" (click)="closeWindow()" arial-label="Close"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <section id="update">
    <div class="card-block mx-auto">
      <form (ngSubmit)="f.form.valid" #f="ngForm">
        <div class="alert alert-warning">Tenga en consideración que la actualización de esta contraseña afectará el
          inicio de sesión de {{name}}</div>
        <!--Input oldPassword-->
        <div class="">
          <label>Ingrese la contraseña actual del usuario</label>
          <input type="password" class="form-control" name="oldPassword" id="oldPassword" [(ngModel)]="form.oldPassword"
            #oldPassword="ngModel" on-focusout="passwordValidation()" maxlength="12" required>
        </div>
        <!--Input newPassword-->
        <div class="">
          <label>Ingrese la nueva contraseña del usuario</label>
          <input type="password" class="form-control" name="newPassword" id="newPassword" [(ngModel)]="form.newPassword"
            #newPassword="ngModel" maxlength="12" required>
        </div>
        <!--confirmationPassword-->
        <div class="">
          <label>Ingrese de nuevo la contraseña nueva del usuario</label>
          <input type="password" class="form-control" name="newPasswordConfirm" id="newPasswordConfirm"
            [(ngModel)]="form.newPasswordConfirm" #newPasswordConfirm="ngModel" on-focusout="passwordValidation()"
            maxlength="12" required>
        </div>
        <div class="alert alert-danger" *ngIf="isErrorPassword">
          {{passwordValidationError}}
        </div>
        <div class="form-group text-center">
          <!--<button type="button" class="btn btn-warning btn-raised" [disabled]="!f.valid">Get Started</button>-->
          <button (click)="changePassword()" [disabled]="!f.valid || !isErrorPassword" type="submit"
            class="btn btn-blue btn-raised">Actualizar Contraseña</button>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{errorMessage}}
        </div>
      </form>
    </div>
  </section>
</div>